@import 'tailwindcss';

@import './material-theme.css';

/* Optional: Add any additional base styles */
@layer base {
  html {
    @apply transition-colors duration-500 ease-out;
  }
  html,
  body {
    background-color: var(--color-background);
    color: var(--color-on-background);
  }

  /* Main application container */
  #app {
    min-height: 100vh;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
  }

  /* Make all buttons have a pointer cursor */
  button,
  [type='button'],
  [type='reset'],
  [type='submit'],
  .btn,
  a[role='button'] {
    @apply cursor-pointer;
  }
}
